@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  justify-content: space-between;
}
p{
  font-size: 20px;
}
.music{
  display: flex;
}
.music div{
  height: 100px;
  width: 100px;
  flex: 1;
  cursor: pointer;
}